.banner {
	background: #EDF3FE;
	background-image: -moz-linear-gradient(
		center bottom,
		#E5E5EE 0%,
		#EDF3FE 100%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E5EE),
		color-stop(1, #EDF3FE)
	);

	border-bottom: 1px solid #ccc;
	padding: 1em 2em 0.5em 2em;

	-webkit-box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
}

.banner p.downloads {
	font-size: 12px;
	line-height: 1em;
	margin-top: 1em;
}

.banner p.downloads a.offline {
	display: block;
	padding: 5px;
	border-radius: 3px;
}

.banner h1 {
	font-size: 1.8em;
	margin: 0;
	line-height: 1em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.banner h1 .title {
	font-weight: bold;
}

.banner .type {
	display: block;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	font-size: 0.9em;
}

.parent,
.banner .type {
	color: #666;
}

.banner .parent {
	font-size: 0.8em;
}

.banner p {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.banner ul {
	margin-top: 0.3em;
	margin-bottom: 0;
	font-size: 0.85em;
}

.banner li {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}
