/**********************************************************/
/* NOTIFICATION BAR */

div.notification-bar {
	padding: 0 10px;
	margin-bottom: 20px;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/**********************************************************/
/* GREEN BAR */

div.notification-bar.green {
	background: #0d9c23;
	background-image: -moz-linear-gradient(
		center top,
		#0eb81d 0%,
		#0d9c23 100%
	);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #0eb81d),
		color-stop(1, #0d9c23)
	);

	border: 1px solid #0d9c23;
	border-bottom: 1px solid #0d9c23;
}

div.notification-bar.green p {
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0 #40464b;
}


/**********************************************************/
/* BLUE BAR */

div.notification-bar.blue {
	background: #1f5d9a;
	background-image: -moz-linear-gradient(
		center top,
		#347abd 0%,
		#1f5d9a 100%
	);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #347abd),
		color-stop(1, #1f5d9a)
	);

	border: 1px solid #72a3d1;
	border-bottom: 1px solid #082847;
}

div.notification-bar.blue p {
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0 #133e67;
}


/**********************************************************/
/* RED BAR */

div.notification-bar.red {
	background: #860303;
	background-image: -moz-linear-gradient(
		center top,
		#b60202 0%,
		#860303 100%
	);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #b60202),
		color-stop(1, #860303)
	);

	border: 1px solid #d55555;
	border-bottom: 1px solid #b60202;
}

div.notification-bar.red p {
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0 #670000;
}
