/**
 * grid.css
 */


/*********************************************
Base styles
*********************************************/
.grid { float: left; margin-right: 10px; margin-bottom: 10px; }
.gridp { padding: 10px; }
.gridlast { margin-right: 0; }


/*********************************************
Standard columns. Use with .grid
*********************************************/
.grid1 { width: 22px; }
.grid2 { width: 54px; }
.grid3 { width: 86px; }
.grid4 { width: 118px; }
.grid5 { width: 150px; }
.grid6 { width: 182px; }
.grid7 { width: 214px; }
.grid8 { width: 246px; }
.grid9 { width: 278px; }
.grid10 { width: 310px; }
.grid11 { width: 342px; }
.grid12 { width: 374px; }


/*********************************************
Padded columns. Use with .grid and .gridp
*********************************************/
.grid1p { width: 2px; }
.grid2p { width: 34px; }
.grid3p { width: 66px; }
.grid4p { width: 98px; }
.grid5p { width: 130px; }
.grid6p { width: 162px; }
.grid7p { width: 194px; }
.grid8p { width: 226px; }
.grid9p { width: 258px; }
.grid10p { width: 290px; }
.grid11p { width: 322px; }
.grid12p { width: 354px; }
